body {
  background-color: #423e25;
}

.navbar-brand {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.nav-link {
  font-family: "Arsenal SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

.dropdown-item {
  font-family: "Arsenal SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

.navbar-toggler {
  background-color: #d3c7b9;
}

h1{
  color: white;
  text-align: center;
  font-family: "Arsenal SC", serif;
  font-size: 60px;
}

p, hr{
  color: white;
  font-family: "Arsenal SC", serif;
  font-size: 20px;
  text-align: center;
}

iframe {
  display: block;
  margin: 20px auto;
    }
